repos:
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        args: [run, --new]
        language: system
        types: [go]
        stages: [pre-commit]
